name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  PyPI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: python3 -m pip install --upgrade build && python3 -m build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1.8.7
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          verbose: true
          print_hash: true
